[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
cicliminds-lib = {ref = "0.8.5", git = "https://github.com/profesorpaiche/cicliminds-lib"}
matplotlib = "*"
numpy = "*"
pandas = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.9"
